In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\DELL\Downloads\archive\DataScience_salaries_2025.csv")
df  # Display the first few rows of the DataFrame

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,MI,FT,Research Scientist,208000,USD,208000,US,0,US,M
1,2025,MI,FT,Research Scientist,147000,USD,147000,US,0,US,M
2,2025,SE,FT,Research Scientist,173000,USD,173000,US,0,US,M
3,2025,SE,FT,Research Scientist,117000,USD,117000,US,0,US,M
4,2025,MI,FT,AI Engineer,100000,USD,100000,US,100,US,M
...,...,...,...,...,...,...,...,...,...,...,...
93592,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
93593,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
93594,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
93595,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
93596,2021,SE,FT,Data Scientist,7000000,INR,94665,IN,50,IN,L

In [2]:
for col in df.columns:
    print(f"\nColumn: {col}")
    print(df[col].unique())

Column: work_year
[2025 2024 2022 2023 2020 2021]

Column: experience_level
['MI' 'SE' 'EN' 'EX']

Column: employment_type
['FT' 'PT' 'CT' 'FL']

Column: job_title
['Research Scientist' 'AI Engineer' 'Manager'
 'Business Intelligence Developer' 'Software Engineer' 'Data Scientist'
 'Research Engineer' 'Data Specialist' 'AI Architect' 'Business Analyst'
 'Machine Learning Engineer' 'Data Analyst' 'Data Architect'
 'Data Engineer' 'Analyst' 'Engineer' 'Data Analytics Manager'
 'Business Development Representative' 'Analytics Engineer'
 'Research Associate' 'Product Specialist' 'Systems Engineer' 'Associate'
 'Data Governance' 'Software Development Engineer' 'Data Governance Lead'
 'Software Developer' 'Statistician' 'Architect' 'Data Product Manager'
 'Quantitative Researcher' 'Product Manager' 'Applied Scientist'
 'Cloud Developer' 'Engineering Manager' 'Consultant' 'Product Designer'
 'Data Operations' 'Statistical Programmer' 'Data Governance Analyst'
 'Solution Architect' 'Data Modeler' 'Full Stack Developer'
 'Data Management Lead' 'Business Intelligence Analyst'
 'Postdoctoral Researcher' 'DevOps Engineer' 'Solutions Architect'
 'Developer' 'Cloud Engineer' 'MLOps Engineer' 'Solutions Engineer'
 'Data Lead' 'Data Manager' 'Data Management Specialist'
 'Site Reliability Engineer' 'Data Integration Engineer'
 'Director of Machine Learning' 'Data Reporting Analyst'
 'Research Assistant' 'Application Developer' 'BI Engineer'
 'Data Analytics Lead' 'Data Governance Specialist' 'Insight Analyst'
 'Platform Engineer' 'Business Intelligence Engineer' 'Executive'
 'Machine Learning Scientist' 'Head of Data' 'Computer Vision Engineer'
 'BI Analyst' 'Postdoctoral Fellow' 'Python Developer' 'Backend Engineer'
 'Full Stack Engineer' 'Data Management Analyst' 'AI Developer'
 'Data Developer' 'Quantitative Analyst' 'Data Integrity Analyst'
 'Product Owner' 'Product Analyst' 'Data Integrator'
 'Data Governance Manager' 'Machine Learning Researcher' 'Analytics Lead'
 'Member of Technical Staff' 'System Engineer'
 'Enterprise Account Executive' 'Encounter Data Management Professional'
 'Data Visualization Analyst' 'Data Management Consultant'
 'Research Analyst' 'Technical Lead' 'QA Engineer' 'Lead Data Analysis'
 'Data Management Associate' 'Head of AI' 'Data Infrastructure Engineer'
 'Principal Researcher' 'Computational Scientist' 'BI Developer'
 'Data Visualization Specialist' 'Data Quality Analyst'
 'Data Quality Lead' 'Data Operations Engineer' 'Software Architect'
 'Data Platform Engineer' 'AI Scientist' 'Data Product Owner'
 'Data Visualization Expert' 'Data Integrity Specialist' 'Power BI Expert'
 'Machine Learning Architect' 'Data and Reporting Professional'
 'Decision Scientist' 'Bioinformatics Scientist' 'Lead Engineer'
 'Data and Reporting Analyst' 'Developer Advocate' 'Data Strategist'
 'Power BI' 'Account Executive' 'Data Operations Lead'
 'Data Visualization Engineer' 'Data Operations Analyst' 'AI Researcher'
 'AI Data Scientist' 'Robotics Engineer' 'Stage' 'Copywriter'
 'Data Integration Specialist' 'Customer Success Manager'
 'Computational Biologist' 'Actuarial Analyst' 'Data Reporter'
 'Database Administrator' 'Quantitative Developer' 'Bioinformatician'
 'Prompt Engineer' 'Analytics Specialist' 'AI Governance Lead'
 'DataOps Engineer' 'Tableau Developer' 'Business Intelligence'
 'Data Quality Specialist' 'Cloud Database Engineer' 'AI Data Engineer'
 'ETL Developer' 'Technology Integrator' 'Algorithm Developer'
 'AI Specialist' 'Business Intelligence Specialist' 'Java Developer'
 'Power BI Developer' 'AI Product Owner' 'Principal Software Architect'
 'Data Operations Specialist' 'Master Data Management'
 'Data Analytics Specialist' 'Security Researcher' 'AI Research Scientist'
 'Principal Statistical Programmer' 'Data Team Lead' 'Big Data Developer'
 'Tech Lead' 'Scala Spark Developer' 'Sales Development Representative'
 'Staff Data Scientist' 'Cloud Database Administrator'
 'AI Machine Learning Engineer' 'Power BI Specialist' 'GenAI Architect'
 'Lead Analyst' 'Head of Machine Learning' 'Data Analytics Consultant'
 'Data Visualization Developer' 'Machine Learning Developer'
 'Data Strategy Lead' 'Data Scientist Associate'
 'Business Intelligence Manager' 'Risk Analyst'
 'Marketing Science Partner' 'Data Reporting Specialist'
 'Clinical Data Operator' 'AI Lead' 'Machine Learning Specialist'
 'Research Data Manager' 'Technical Specialist'
 'Applied Research Scientist' 'Lead Data Management'
 'Data Analytics Developer' 'Machine Learning Lead' 'Technical Writer'
 'Data Quality Engineer' 'Data Integration Analyst'
 'Safety Data Management Specialist' 'Business Intelligence Lead'
 'Data Operations Manager' 'Big Data Analyst' 'Data Scientist Manager'
 'Pricing Analyst' 'Lead Data Engineer' 'AI Engineering Manager'
 'Backend Developer' 'Data Management Coordinator' 'Analytics Analyst'
 'Controls Engineer' 'Machine Learning Tech Lead'
 'Business Development Manager' 'Business Insights Manager'
 'Power BI Administrator' 'Data Integration Developer'
 'Platform Data Engineer' 'Bear Robotics'
 'Principal Application Delivery Consultant' 'Chatbot Developer'
 'Artificial Intelligence Engineer' 'Data Governance Architect'
 'Power BI Consultant' 'Backend Software Engineer' 'AI Product Manager'
 'Data Operations Associate' 'ML Infrastructure Engineer'
 'Fullstack Engineer' 'Machine Learning Quality Engineer'
 'Security Engineer' 'Databricks Engineer' 'Infrastructure Engineer'
 'Solution Engineer' 'Big Data Engineer'
 'Machine Learning Performance Engineer' 'Data Analytics Associate'
 'Power BI Architect' 'Machine Learning Platform Engineer'
 'AI Solution Architect' 'Data Scientist Lead' 'Machine Vision Engineer'
 'Data Governance Engineer' 'Machine Learning Model Engineer'
 'Marketing Analyst' 'Data Management Manager'
 'Marketing Analytics Manager' 'Applied AI ML Lead'
 'Data Strategy Manager' 'Machine Learning Manager' 'Data Product Analyst'
 'Data Quality Manager' 'Elasticsearch Administrator'
 'Machine Learning Infrastructure Engineer' 'People Data Analyst'
 'Frontend Engineer' 'NLP Engineer' 'SAS Developer'
 'Data Analytics Team Lead' 'Machine Learning Modeler'
 'Data Integration Coordinator' 'AI Programmer' 'Admin & Data Analyst'
 'Head of Business Intelligence' 'ETL Engineer' 'AI Research Engineer'
 'Business Intelligence Consultant' 'Robotics Software Engineer'
 'AI Software Engineer' 'Lead AI Engineer'
 'AI Software Development Engineer' 'Master Data Specialist'
 'Consultant Data Engineer' 'Manager Data Management'
 'Director of Business Intelligence' 'Lead Data Scientist'
 'CRM Data Analyst' 'BI Data Analyst' 'Applied Data Scientist'
 'Data DevOps Engineer' 'Quantitative Research Analyst'
 'Lead Machine Learning Engineer' 'Machine Learning Research Engineer'
 'Data Analyst Lead' 'Data Pipeline Engineer' 'Lead Data Analyst'
 'Business Data Analyst' 'Marketing Data Scientist'
 'Deep Learning Engineer' 'Financial Data Analyst' 'Azure Data Engineer'
 'Principal Data Scientist' 'Staff Data Analyst'
 'Machine Learning Software Engineer' 'Applied Machine Learning Scientist'
 'Principal Machine Learning Engineer' 'Principal Data Engineer'
 'Staff Machine Learning Engineer' 'Business Intelligence Data Analyst'
 'Finance Data Analyst' 'Software Data Engineer' 'Compliance Data Analyst'
 'Cloud Data Engineer' 'Analytics Engineering Manager'
 'AWS Data Architect' 'Product Data Analyst'
 'Autonomous Vehicle Technician' 'Sales Data Analyst'
 'Applied Machine Learning Engineer' 'BI Data Engineer'
 'Deep Learning Researcher' 'Big Data Architect'
 'Computer Vision Software Engineer' 'Marketing Data Engineer'
 'Data Science Tech Lead' 'Marketing Data Analyst'
 'Principal Data Architect' 'Data Analytics Engineer'
 'Cloud Data Architect' 'Principal Data Analyst']

Column: salary
[208000 147000 173000 ... 138350 423000 412000]

Column: salary_currency
['USD' 'EUR' 'GBP' 'TWD' 'BRL' 'CAD' 'HUF' 'PLN' 'JPY' 'PHP' 'CHF' 'INR'
 'NOK' 'SGD' 'AUD' 'DKK' 'CZK' 'MXN' 'ILS' 'TRY' 'ZAR' 'SEK' 'NZD' 'HKD'
 'THB' 'CLP']

Column: salary_in_usd
[208000 147000 173000 ...  28369 412000  94665]

Column: employee_residence
['US' 'LT' 'CA' 'FR' 'SK' 'GB' 'IT' 'RS' 'UA' 'PR' 'TW' 'BR' 'CY' 'NL'
 'AT' 'DE' 'SE' 'AU' 'IN' 'IE' 'LV' 'ES' 'HU' 'PL' 'JP' 'PH' 'CH' 'BE'
 'PE' 'AR' 'NZ' 'PT' 'FI' 'NO' 'SV' 'EC' 'CL' 'DO' 'MX' 'CO' 'SG' 'MT'
 'DK' 'ID' 'MY' 'XK' 'CR' 'ZM' 'AM' 'LU' 'RW' 'IL' 'CZ' 'KR' 'ZA' 'EG'
 'LB' 'GR' 'NG' 'BG' 'HR' 'KE' 'TR' 'PK' 'HN' 'RO' 'VE' 'BM' 'VN' 'GE'
 'AE' 'SA' 'OM' 'BA' 'EE' 'UG' 'SI' 'MU' 'TH' 'QA' 'RU' 'TN' 'GH' 'AD'
 'MD' 'UZ' 'HK' 'CF' 'KW' 'IR' 'AS' 'CN' 'BO' 'DZ' 'IQ' 'JE']

Column: remote_ratio
[  0 100  50]

Column: company_location
['US' 'LT' 'CA' 'FR' 'SK' 'GB' 'IT' 'RS' 'UA' 'PR' 'TW' 'BR' 'CY' 'NL'
 'AT' 'DE' 'SE' 'AU' 'IN' 'IE' 'LV' 'ES' 'HU' 'PL' 'JP' 'PH' 'CH' 'BE'
 'PE' 'AR' 'NZ' 'PT' 'FI' 'NO' 'SV' 'EC' 'CL' 'DO' 'MX' 'CO' 'MT' 'DK'
 'ID' 'MY' 'XK' 'CR' 'ZM' 'AM' 'SG' 'LU' 'CD' 'IL' 'CZ' 'KR' 'ZA' 'EG'
 'LB' 'GR' 'NG' 'BG' 'HR' 'KE' 'TR' 'PK' 'HN' 'RO' 'VE' 'DZ' 'AS' 'AE'
 'SA' 'OM' 'BA' 'EE' 'VN' 'GI' 'SI' 'MU' 'RU' 'QA' 'GH' 'AD' 'HK' 'CF'
 'TH' 'IR' 'BS' 'IQ' 'CN' 'MD']

Column: company_size
['M' 'L' 'S']

In [3]:
# JOB TITLE IN CATEGORIES

import pandas as pd

# Sample: Replace with your actual DataFrame
# df = pd.read_csv("your_data.csv")

def categorize_job_title(title):
    title = str(title).lower()  # Lowercase for easier matching

    # Core AI/ML Roles
    core_ai_ml_keywords = [
        'ai engineer', 'machine learning engineer', 'ai researcher', 'ai scientist',
        'applied scientist', 'machine learning scientist', 'applied research scientist',
        'ai software engineer', 'machine learning lead', 'ai programmer', 'ai developer',
        'ai specialist', 'machine learning developer', 'ai data scientist', 'machine learning tech lead',
        'ai research engineer', 'applied ai ml lead', 'ai product manager', 'lead ai engineer',
        'lead machine learning engineer', 'staff machine learning engineer', 'principal machine learning engineer',
        'machine learning infrastructure engineer', 'machine learning model engineer', 
        'machine learning platform engineer', 'machine learning performance engineer', 
        'applied machine learning engineer', 'machine learning software engineer', 
        'applied machine learning scientist', 'machine learning modeler', 'ai governance lead',
        'ai software development engineer', 'ai solution architect', 'ai engineering manager',
        'director of machine learning', 'head of machine learning'
    ]

    # Niche ML Roles
    niche_ml_keywords = ['deep learning', 'computer vision', 'nlp', 'prompt engineer']

    # Core Data Science
    data_science_keywords = ['data scientist']

    # Data Analysts / Business Analysts
    analyst_keywords = ['analyst', 'analytics', 'business analyst', 'marketing analyst', 'product analyst']

    # Quantitative / Research Analysts
    research_keywords = ['quantitative', 'research scientist', 'research analyst', 'researcher', 'bioinformatician']

    # Data Engineering
    data_engineer_keywords = ['data engineer', 'dataops', 'pipeline engineer', 'etl', 'integration engineer', 'databricks']

    # Architecture
    architect_keywords = ['architect']

    # BI & Visualization
    bi_keywords = ['business intelligence', 'bi', 'power bi', 'visualization']

    # Data Governance / Quality
    governance_keywords = ['governance', 'data quality', 'compliance', 'data integrity', 'master data']

    # Software & DevOps
    software_keywords = ['software engineer', 'developer', 'devops', 'qa', 'cloud engineer']

    # Product / Strategy
    product_keywords = ['product manager', 'head', 'director', 'strategy', 'lead']

    # Statistical
    statistical_keywords = ['statistician', 'statistical programmer', 'sas developer']

    # Match categories
    if any(keyword in title for keyword in core_ai_ml_keywords):
        return 'Core AI/ML'
    elif any(keyword in title for keyword in niche_ml_keywords):
        return 'Niche ML'
    elif any(keyword in title for keyword in data_science_keywords):
        return 'Core Data Science'
    elif any(keyword in title for keyword in analyst_keywords):
        return 'Analyst / BI'
    elif any(keyword in title for keyword in research_keywords):
        return 'Quant / Research'
    elif any(keyword in title for keyword in data_engineer_keywords):
        return 'Data Engineering'
    elif any(keyword in title for keyword in architect_keywords):
        return 'Architecture'
    elif any(keyword in title for keyword in bi_keywords):
        return 'BI / Visualization'
    elif any(keyword in title for keyword in governance_keywords):
        return 'Data Governance / Quality'
    elif any(keyword in title for keyword in software_keywords):
        return 'Software / DevOps'
    elif any(keyword in title for keyword in product_keywords):
        return 'Product / Strategy'
    elif any(keyword in title for keyword in statistical_keywords):
        return 'Statistical'
    else:
        return 'Other'

# Apply to your DataFrame
df['job_category'] = df['job_title'].apply(categorize_job_title)

# View result
print(df[['job_title', 'job_category']].head())

df['job_category'].unique()

            job_title      job_category
0  Research Scientist  Quant / Research
1  Research Scientist  Quant / Research
2  Research Scientist  Quant / Research
3  Research Scientist  Quant / Research
4         AI Engineer        Core AI/ML

array(['Quant / Research', 'Core AI/ML', 'Other', 'BI / Visualization',
       'Software / DevOps', 'Core Data Science', 'Architecture',
       'Analyst / BI', 'Data Engineering', 'Data Governance / Quality',
       'Statistical', 'Product / Strategy', 'Niche ML'], dtype=object)

In [4]:
#SKILL SET MAPPING

import pandas as pd

# Example: Your existing DataFrame
# df = pd.read_csv("your_data.csv")
# Ensure df['job_category'] exists before proceeding

# Define the skill mapping
role_skillsets = {
    'Quant / Research': [
        'Python', 'R', 'MATLAB', 'Stata', 'SQL', 'Statistics', 'Econometrics',
        'Quantitative Analysis', 'Machine Learning', 'Time Series Analysis', 'Pandas',
        'NumPy', 'Academic Research', 'LaTeX', 'Jupyter Notebooks'
    ],
    'Core AI/ML': [
        'Python', 'TensorFlow', 'PyTorch', 'Scikit-learn', 'MLflow', 'Deep Learning',
        'Machine Learning', 'Computer Vision', 'NLP', 'Data Engineering', 'Data Cleaning',
        'Model Deployment', 'MLOps', 'Docker', 'Kubernetes', 'Git'
    ],
    'Niche ML': [
        'Deep Learning', 'PyTorch', 'TensorFlow', 'Keras', 'Computer Vision', 'OpenCV',
        'Transformers', 'Hugging Face', 'NLP', 'Prompt Engineering', 'GANs',
        'Reinforcement Learning'
    ],
    'Core Data Science': [
        'Python', 'R', 'SQL', 'Pandas', 'Scikit-learn', 'Data Analysis',
        'Machine Learning', 'Statistics', 'EDA', 'Dashboards', 'Tableau',
        'Power BI', 'Jupyter', 'Data Storytelling'
    ],
    'Analyst / BI': [
        'SQL', 'Excel', 'Power BI', 'Tableau', 'Looker', 'Data Cleaning',
        'Data Visualization', 'Business Acumen', 'A/B Testing', 'Dashboards',
        'Reporting', 'KPI Analysis'
    ],
    'BI / Visualization': [
        'Tableau', 'Power BI', 'Looker', 'Data Studio', 'SQL', 'Excel',
        'DAX', 'Data Modeling', 'Dashboard Design', 'Storytelling with Data',
        'ETL Basics'
    ],
    'Data Engineering': [
        'Python', 'SQL', 'Apache Spark', 'Kafka', 'Airflow', 'ETL Pipelines',
        'Data Warehousing', 'Snowflake', 'BigQuery', 'Databricks',
        'AWS/GCP/Azure', 'Docker', 'CI/CD', 'DBT'
    ],
    'Architecture': [
        'Cloud Platforms (AWS/GCP/Azure)', 'Data Architecture', 'Solution Architecture',
        'Infrastructure as Code', 'Kubernetes', 'Docker', 'CI/CD', 'Microservices',
        'System Design', 'Security', 'Networking'
    ],
    'Software / DevOps': [
        'Python', 'Java', 'C++', 'Git', 'CI/CD', 'Docker', 'Kubernetes',
        'Jenkins', 'Terraform', 'Cloud Platforms', 'Monitoring Tools (Prometheus/Grafana)',
        'Agile/Scrum', 'Unit Testing'
    ],
    'Data Governance / Quality': [
        'SQL', 'Data Quality Tools', 'Data Catalogs', 'Metadata Management',
        'Data Lineage', 'GDPR', 'Data Stewardship', 'Master Data Management (MDM)',
        'Collibra', 'Informatica', 'Data Auditing'
    ],
    'Statistical': [
        'R', 'SAS', 'Python', 'SPSS', 'Statistical Modeling', 'Hypothesis Testing',
        'Regression Analysis', 'Survival Analysis', 'Clinical Trials', 'Pharma Data Standards',
        'ANOVA', 'Experimental Design'
    ],
    'Product / Strategy': [
        'Product Management', 'Jira', 'Aha!', 'SQL', 'Data Analysis',
        'Market Research', 'User Research', 'BI Tools', 'A/B Testing',
        'OKRs/KPIs', 'Leadership', 'Agile', 'Stakeholder Communication'
    ],
    'Other': [
        'General Programming', 'Soft Skills', 'Domain Knowledge',
        'Project Coordination', 'Documentation', 'Cross-Functional Skills',
        'Adaptability', 'Problem Solving'
    ]
}

# Map the job category to the skill set
df['skills_required'] = df['job_category'].map(role_skillsets)

# Optional: Convert skill lists to comma-separated strings for readability
df['skills_required'] = df['skills_required'].apply(lambda x: ', '.join(x) if isinstance(x, list) else 'N/A')

# Preview
print(df[['job_title', 'job_category', 'skills_required']].head())

            job_title      job_category  \
0  Research Scientist  Quant / Research
1  Research Scientist  Quant / Research
2  Research Scientist  Quant / Research
3  Research Scientist  Quant / Research
4         AI Engineer        Core AI/ML

                                     skills_required
0  Python, R, MATLAB, Stata, SQL, Statistics, Eco...
1  Python, R, MATLAB, Stata, SQL, Statistics, Eco...
2  Python, R, MATLAB, Stata, SQL, Statistics, Eco...
3  Python, R, MATLAB, Stata, SQL, Statistics, Eco...
4  Python, TensorFlow, PyTorch, Scikit-learn, MLf...

In [5]:
# RENAMING VARIABLES

# Mapping dictionaries
experience_map = {
    'EN': 'Entry Level',
    'MI': 'Mid Level',
    'SE': 'Senior Level',
    'EX': 'Executive'
}

employment_map = {
    'FT': 'Full-time',
    'PT': 'Part-time',
    'CT': 'Contract',
    'FL': 'Freelance'
}

remote_map = {
    0: 'On-site',
    50: 'Hybrid',
    100: 'Remote'
}

company_size_map = {
    'S': 'Small',
    'M': 'Medium',
    'L': 'Large'
}

# Apply mappings
df['experience_level'] = df['experience_level'].map(experience_map)
df['employment_type'] = df['employment_type'].map(employment_map)
df['remote_ratio'] = df['remote_ratio'].map(remote_map)
df['company_size'] = df['company_size'].map(company_size_map)

# Optional: Rename 'remote_ratio' to 'work_location' for clarity
df.rename(columns={'remote_ratio': 'work_location'}, inplace=True)

# Display sample
print(df.head())

   work_year experience_level employment_type           job_title  salary  \
0       2025        Mid Level       Full-time  Research Scientist  208000
1       2025        Mid Level       Full-time  Research Scientist  147000
2       2025     Senior Level       Full-time  Research Scientist  173000
3       2025     Senior Level       Full-time  Research Scientist  117000
4       2025        Mid Level       Full-time         AI Engineer  100000

  salary_currency  salary_in_usd employee_residence work_location  \
0             USD         208000                 US       On-site
1             USD         147000                 US       On-site
2             USD         173000                 US       On-site
3             USD         117000                 US       On-site
4             USD         100000                 US        Remote

  company_location company_size      job_category  \
0               US       Medium  Quant / Research
1               US       Medium  Quant / Research
2               US       Medium  Quant / Research
3               US       Medium  Quant / Research
4               US       Medium        Core AI/ML

                                     skills_required
0  Python, R, MATLAB, Stata, SQL, Statistics, Eco...
1  Python, R, MATLAB, Stata, SQL, Statistics, Eco...
2  Python, R, MATLAB, Stata, SQL, Statistics, Eco...
3  Python, R, MATLAB, Stata, SQL, Statistics, Eco...
4  Python, TensorFlow, PyTorch, Scikit-learn, MLf...

In [6]:
# CONTINENT

!pip install pycountry-convert
import pandas as pd
import pycountry_convert as pc

# Function to map ISO country code to continent
def get_continent(iso_code):
    try:
        country_alpha2 = iso_code.upper()
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return continent_name
    except:
        return 'Unknown'

# Apply the function to the 'company_location' column
df['continent'] = df['company_location'].apply(get_continent)

# Save or display result
print(df[['company_location', 'continent']])

df['continent'].unique()

Requirement already satisfied: pycountry-convert in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (0.7.2)
Requirement already satisfied: pprintpp>=0.3.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pycountry-convert) (0.4.0)
Requirement already satisfied: pycountry>=16.11.27.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pycountry-convert) (24.6.1)
Requirement already satisfied: pytest>=3.4.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pycountry-convert) (8.4.1)
Requirement already satisfied: pytest-mock>=1.6.3 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pycountry-convert) (3.14.1)
Requirement already satisfied: pytest-cov>=2.5.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pycountry-convert) (6.2.1)
Requirement already satisfied: repoze.lru>=0.7 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pycountry-convert) (0.7)
Requirement already satisfied: wheel>=0.30.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pycountry-convert) (0.45.1)
Requirement already satisfied: colorama>=0.4 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (0.4.6)
Requirement already satisfied: iniconfig>=1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (2.1.0)
Requirement already satisfied: packaging>=20 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (25.0)
Requirement already satisfied: pluggy<2,>=1.5 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.6.0)
Requirement already satisfied: pygments>=2.7.2 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (2.19.2)
Requirement already satisfied: coverage>=7.5 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from coverage[toml]>=7.5->pytest-cov>=2.5.1->pycountry-convert) (7.10.1)
      company_location      continent
0                   US  North America
1                   US  North America
2                   US  North America
3                   US  North America
4                   US  North America
...                ...            ...
93592               US  North America
93593               US  North America
93594               US  North America
93595               US  North America
93596               IN           Asia

[93597 rows x 2 columns]

array(['North America', 'Europe', 'Asia', 'South America', 'Oceania',
       'Africa'], dtype=object)

In [7]:
#CURRENCY CONVERSION

import pandas as pd

# Example currency-to-USD rates (update these if needed)
currency_to_usd = {
    'USD': 1,
    'EUR': 1.09,
    'GBP': 1.28,
    'TWD': 0.031,
    'BRL': 0.19,
    'CAD': 0.73,
    'HUF': 0.0028,
    'PLN': 0.25,
    'JPY': 0.0063,
    'PHP': 0.017,
    'CHF': 1.13,
    'INR': 0.012,
    'NOK': 0.094,
    'SGD': 0.74,
    'AUD': 0.67,
    'DKK': 0.15,
    'CZK': 0.043,
    'MXN': 0.055,
    'ILS': 0.27,
    'TRY': 0.031,
    'ZAR': 0.056,
    'SEK': 0.093,
    'NZD': 0.61,
    'HKD': 0.13,
    'THB': 0.028,
    'CLP': 0.0011
}


# Apply static conversion
df['salary_in_usd_static'] = df.apply(
    lambda row: round(row['salary'] * currency_to_usd.get(row['salary_currency'], 0), 2),
    axis=1
)

# View result
print(df[['salary', 'salary_currency', 'salary_in_usd_static']].head())

df['salary_in_usd_static'].unique()

   salary salary_currency  salary_in_usd_static
0  208000             USD              208000.0
1  147000             USD              147000.0
2  173000             USD              173000.0
3  117000             USD              117000.0
4  100000             USD              100000.0

array([208000., 147000., 173000., ..., 138350., 423000., 412000.],
      shape=(9088,))

In [ ]:
# DATA POINTS
df['salary_in_usd_static'].count()

np.int64(93597)

In [11]:
#SAVE DATA

!pip install openpyxl


df.to_excel(r"C:\Users\DELL\Downloads\archive\DataScience_salaries_2025_processed.xlsx", index=False)
print("Data saved successfully.")

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   ---------------------------------------- 0/2 [et-xmlfile]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Data saved successfully.

In [26]:
#HEATMAP

!pip install nbformat
!pip install plotly
import plotly.express as px
import plotly.offline as pyo
import pycountry

# Convert 2-letter country code to 3-letter using pycountry
def convert_to_iso3(code):
    try:
        return pycountry.countries.get(alpha_2=code).alpha_3
    except:
        return None

df['country_iso3'] = df['company_location'].apply(convert_to_iso3)
# Make sure it contains 'country_code' (ISO Alpha-3) and 'salary_in_usd'

avg_salary_by_country = df.groupby('country_iso3')["salary_in_usd_static"].mean().reset_index()
avg_salary_by_country.columns = ['country_iso3', 'avg_salary_usd']

fig = px.choropleth(
    avg_salary_by_country,
    locations='country_iso3',
    color="avg_salary_usd",
    color_continuous_scale="Viridis",
    title="🌍 Average Salary (USD) by Country"
)

# Use plotly offline to render in notebook
pyo.init_notebook_mode(connected=True)
pyo.plot(fig, filename="choropleth.html")

Requirement already satisfied: nbformat in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from nbformat) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from nbformat) (4.25.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\dell\appdata\roaming\python\python313\site-packages (from nbformat) (5.8.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\dell\appdata\roaming\python\python313\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=2.6->nbformat) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=2.6->nbformat) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=2.6->nbformat) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=2.6->nbformat) (0.26.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\dell\appdata\roaming\python\python313\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.8)
Requirement already satisfied: pywin32>=300 in c:\users\dell\appdata\roaming\python\python313\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (311)
Requirement already satisfied: plotly in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (6.2.0)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from plotly) (1.48.1)
Requirement already satisfied: packaging in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from plotly) (25.0)

'choropleth.html'